openapi: "3.0.1"
info:
  title: "River Discharge API"
  description: "API for River Forecast System data"
  version: "3.0.0"
servers:
- url: "https://api.riverforecastsystem.com/{basePath}"
  variables:
    basePath:
      default: ""
paths:
  /v2/forecast/{summary}/{river_id}:
    get:
      responses:
        default:
          description: "Default response for GET /v2/forecast/{summary}/{river_id}"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "2.0"
        type: "aws_proxy"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:401506828094:function:rfs-v2-api-forecasts/invocations"
        connectionType: "INTERNET"
        timeoutInMillis: 15000
    parameters:
    - name: "summary"
      in: "path"
      description: "Generated path parameter for summary"
      required: true
      schema:
        type: "string"
    - name: "river_id"
      in: "path"
      description: "Generated path parameter for river_id"
      required: true
      schema:
        type: "string"
  /v2/retrospective/{resolution}/{river_id}:
    get:
      responses:
        default:
          description: "Default response for GET /v2/retrospective/{resolution}/{river_id}"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "2.0"
        type: "aws_proxy"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:401506828094:function:rfs-v2-api-retrospective/invocations"
        connectionType: "INTERNET"
        timeoutInMillis: 15000
    parameters:
    - name: "resolution"
      in: "path"
      description: "Generated path parameter for resolution"
      required: true
      schema:
        type: "string"
    - name: "river_id"
      in: "path"
      description: "Generated path parameter for river_id"
      required: true
      schema:
        type: "string"
  /v2/return-periods/{distribution}/{river_id}:
    get:
      responses:
        default:
          description: "Default response for GET /v2/return-periods/{distribution}/{river_id}"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "2.0"
        type: "aws_proxy"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:401506828094:function:rfs-v2-api-returnperiods/invocations"
        connectionType: "INTERNET"
        timeoutInMillis: 15000
    parameters:
    - name: "distribution"
      in: "path"
      description: "Generated path parameter for distribution"
      required: true
      schema:
        type: "string"
    - name: "river_id"
      in: "path"
      description: "Generated path parameter for river_id"
      required: true
      schema:
        type: "string"
components:
  x-amazon-apigateway-integrations:
    unusedIntegration_1lyyj2a:
      payloadFormatVersion: "2.0"
      type: "aws_proxy"
      httpMethod: "POST"
      uri: "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:401506828094:function:rfs-v2-api-returnperiods/invocations"
      connectionType: "INTERNET"
      timeoutInMillis: 15000
x-amazon-apigateway-cors:
  allowMethods:
  - "*"
  allowHeaders:
  - "*"
  exposeHeaders:
  - "*"
  maxAge: 0
  allowCredentials: false
  allowOrigins:
  - "*"
x-amazon-apigateway-importexport-version: "1.0"
